@import url("./mobile.css");
@import url("./desktops.css") screen and (min-width: 1200px);


@keyframes turn {
    from {
        transform-origin: 0% 50%;
        transform: perspective(200px) rotateY(90deg);
    }
    to {
        
        transform-origin: 50% 50%;
        transform: perspective(0px) rotateY(0deg);
    }
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: url(../assets/img/guirlande.svg) no-repeat top fixed;
    background-size: cover;
    height: 100%;
}

main{
    margin: 0 auto;
    max-width: 1920px;
}

.company__container{
    font-family: 'Libre Franklin', sans-serif;
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0;
}



.company__container li{
        padding: 0 2vw;
        border-right: 3px solid;
}

.company__container li:first-child{
    padding: 0 2vw 0 0;
}

.company__container li:last-child{
    padding: 0 0 0 2vw;
    border: none;
}

.soon__container {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.soon__content{
    text-transform: uppercase;
    text-align: center;
    margin: 5vw 0 0 0;
}

.soo__text{
    display: inline-block;
    animation: turn 3s ease;

}

._3{
    background: url(../assets/img/scrable_3.svg) no-repeat;
    background-size: cover;
}

._1{
    background: url(../assets/img/scrable_1.svg) no-repeat;
    background-size: cover;
}

.soon__container > span {
    display: inline-block;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer__icon {
    display: flex;
    justify-content: center;
}

.info__mail{
    background: #000000;
    border-radius: 10px 10px 0 0;
    font-family: 'Lato', sans-serif;
    margin: 1vw auto 0;
    text-align: center;
    padding: 1vw 1.5vw;
}

.info__mail:hover{
    background: #E5CE9D;
}

.info__mail a{
    color: #ffffff;
    text-decoration: none;
}

.info__mail:hover a{
    color: #000000;
}
