main {
    margin: 0 2.5vw;
}

.logo {
    max-width: 50%;
    margin: 26vw auto auto;
}

.company__container{
    justify-content: center;
    font-size: 3vw;
    margin: 15vw auto;
}

.soon__content {
    font-size: 5VH;
}

.soo__text {
    width: 11vw;
    height: 11vw;
}

.soon__container > span {
    font-size: 4vw;
    margin: 8vw 5vw;
    text-align: center;
    max-width: 90vw;
}

.footer__icon a {
    width: 10vw;
}

.info__mail{
    max-width: 50%;
    font-size: 4.5vw;
}